
/* @font-face {
  font-family: "LCD Font";
  src:  local('LCD Font'),
  url(./fonts/Scientific_Calculator_LCD.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
} */
.App {
  height: 100vh;
}
.App .header-navigation {
  background: #cccccc;
  padding: 20px;
  width: 100%;
  text-align: right;
  height: auto;
  overflow: hidden;
}
.App .header-navigation .top-bar {
  position: relative;
  overflow-x: auto;
}
.App .header-navigation span.top-value {
  position: absolute;
  font-size: 18px;
  right: 5px;
}
.col-12,.col-4,.col-8 {
  padding: 0 !important;
}
.App .header-navigation span {
  font-size: 70px;
  color: #fff;
  /* font-family: "LCD Font"; */
}
.App .button button {
  font-size: 40px;
  width: 100%;
  border: 1px solid #c1c1c1;
  outline: none;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .button {
  /*padding: 0 15px;*/
}
@media (max-width: 767px) {
  .App .button button {
    font-size: 25px;
    height: 85px;
  }
}
.App .button button:focus {
  outline: none;
  box-shadow: none;
}